/* Global - Forms */

fieldset {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgb(227, 227, 227);
    box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

input,
select,
textarea {
    width: 100%;
    padding: .8rem;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    margin: 1rem auto;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid black;
}


/* Form Alerts */

.alert {
    border-radius: 8px;
    padding: .8rem;
    max-width: 500px;
    margin: 1rem auto;
}

.loading {
    text-align: center;
}

.success {
    background-color: rgba(0, 128, 0, 0.4);
    border: 2px solid rgb(0, 128, 0);
}

.error {
    background-color: rgba(255, 0, 0, 0.4);
    border: 2px solid red;
}

.inputError {
    position: absolute;
    font-size: .8rem;
    color: red;
    margin: -1em 0;
}


/* Login Form */

#loginForm {
    min-width: 270px;
    max-width: 400px;
    margin: 0 auto;
}

#loginForm fieldset {
    height: 270px;
}


/* Contact Form */

#contactForm,
#contactForm fieldset {
    height: 100%;
    min-width: 270px;
    max-width: 500px;
    margin: 0 auto;
}

#contactForm textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
}